<main data-aos="zoom-in-down" data-aos-duration="2000">
    <div class="lateral">

    </div>
    <div class="main">
        <div class="flex">
            <div class="magenta"></div>
            <div class="verde">
                <h3>Pago</h3>
                <img src="images/webpay.jpg" alt="pagar" width="200">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                <button id="btnPago" class="fas fa-arrow-right"></button>
            </div>
            <div class="naranja">
                <h3>Historial</h3>
                <img src="images/historial.jpg" alt="historial medico" width="220">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                <button id="btnHistorial" class="fas fa-arrow-right"></button>
            </div>
            <div class="rojo">
                <h3>Pendientes</h3>
                <img src="images/pendientes.jpg" alt="Horas Medicas Pendientes" width="120">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                <button id="btnPendientes" class="fas fa-arrow-right"></button>
            </div>
            <div class="magenta"></div>
        </div>
    </div>
</main>