<main data-aos="zoom-in-down" data-aos-duration="2000">
    <div class="lateral">

    </div>
    <div class="main">
        <div class="flex">
            <div class="magenta"></div>
            <div class="verde">
                <h3>Estadisticas</h3>
                <img src="images/estadistica.jpg" alt="Estadistica por Medico" width="100">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                <button id="btnEstadisticaMedico" class="fas fa-arrow-right"></button>
            </div>
            <div class="naranja">
                <h3>Productividad</h3>
                <img src="images/productividad.jpg" alt="Prductividad del Medico" width="220">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                <button id="btnProductividadMedico" class="fas fa-arrow-right"></button>
            </div>
            <div class="rojo">
                <h3>Mi Agenda</h3>
                <img src="images/agenda.jpg" alt="Agenda Medica" width="150">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                <button id="btnAgendaMedico" class="fas fa-arrow-right"></button>
            </div>
            <div class="magenta"></div>
        </div>
    </div>
</main>