<main>
    <div class="buscar">
        <h1>Buscar en el Centro Médico</h1>
        <h6>Buscador de pacientes por documento de identidad o por nombre,<br>
            poder ver su historial y si tiene deudas</h6>
        <a href="javascript:history.back()"> Volver Atrás</a>
    </div>
</main>