<main>
    <div class="consultorioVirtual">
        <h1>Consultorio Virtual</h1>
        <h6>Aqui el usuario afiliado tendrá acceso a hacer video llamada para comunicarse con el Médico
            Consultorio Virtual, que tendrá un sistema que si la llamada cae "ocupada", significa que el
            Médico estará ocupado con otro pacciente, y en seguida que se desocupe el sistema liberará la linea
            telefónica<br>Tienen que haber varios Medicos para evitar las llamadas ocupadas y ofrecer un buen
            servicio</h6>
        <a href="javascript:history.back()"> Volver Atrás</a>
    </div>

</main>