<main>
    <div class="editar">
        <h1>Editar Contactos del Centro Médico</h1>
        <h6>Formulario que permita al cliente poder editar sus datos</h6>
        <a href="javascript:history.back()"> Volver Atrás</a>
    </div>

</main>