<main>
    <div class="estadisticasMedico">
        <h1>Estadisticas del Médico</h1>
        <h6>Posibilidad de Exportar via Excel del listado de pacientes, que pidieron hora con ese Médico,
            bien sea consultas ya realizadas o pendientes,
            en el rango de fechas que el Médico desee
        </h6>
        <a href="javascript:history.back()"> Volver Atrás</a>
    </div>
</main>