<main data-aos="zoom-in-down" data-aos-duration="2000">
    <div class="main">
        <div class="doctor">
            <h4>Medicina General</h4>
            <h5>Es el primer paso para el diagn칩stico</h5>
            <img src="images/doctor3.jpg" alt="doctores">
        </div>
        <div class="ofrecemos">
            <div class="acordion">
                <button class="acordiones">
                    Atencion 24/7/365
                </button>
                <img src="images/247.png" width="30" alt="atencion 24/7">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.<br></p>
                <button class="verMas">
                    Ver M치s
                </button>
                <div class="masInfo">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab nobis doloremque, eos quos magnam
                    fuga voluptas soluta modi ad enim, aliquam amet officiis itaque repellendus, nostrum in alias
                    explicabo mollitia.
                </div>
            </div>
            <div class="acordion">
                <button class="acordiones">
                    Consultorio Virtual
                </button>
                <img src="images/consultorioVirtual.jpg" width="70" alt="consultorio virtual">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat<br> </p>
                <button class="verMas">
                    Ver M치s
                </button>
                <div class="masInfo">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate ratione adipisci explicabo
                    atque? Corrupti recusandae esse fugiat sed aspernatur minus, delectus error! Magni reiciendis
                    mollitia voluptas nulla, rem accusamus cum?
                </div>
            </div>
            <div class="acordion">
                <button class="acordiones">
                    Resultados por email
                </button>
                <img src="images/resultadosEmail.png" width="50" alt="resultados via email">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                    laboris nisi ut aliquip ex ea commodo consequat.0<br></p>
                <button class="verMas">
                    Ver M치s
                </button>
                <div class="masInfo">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe quos porro corporis molestias
                    temporibus excepturi placeat ullam perferendis, tempora soluta voluptate, ex aut ratione
                    consequatur? Necessitatibus eveniet debitis aperiam voluptatem!
                </div>
            </div>
        </div>
    </div>
</main>