<main>
    <div class="informes">
        <h1>Mis Informes</h1>
        <h6>Un listado de todos los pacientes con informe, correspondientes a ese Médico,
            por fecha, y con acceso al Informe<br>
            buscador de paciente, de patologia y de palabra contenida en el informe<br>
            filtros de fecha</h6>
        <a href="javascript:history.back()"> Volver Atrás</a>
    </div>
</main>