<main data-aos="zoom-in-down" data-aos-duration="2000">
    <div class="main">
        <table>
            <thead>
                <tr>
                    <td colspan="2">
                        <h1>ESPECIALIDADES</h1>
                    </td>
                </tr>
            </thead>
            <tr>
                <td>
                    <h4 class="verDoc">Psiquiatría
                        <span class="fas fa-sort-down" title="doctores"></span>
                    </h4>
                    <div class="psiquiatria">
                        <a href="" title="Pedir Hora">Dr. AA AA</a>
                        <a href="" title="Pedir Hora">Dra. BB BB</a>
                    </div>
                </td>
                <td>
                    <h4 class="verDoc">Nutrición
                        <span class="fas fa-sort-down" title="doctores"></span>
                    </h4>
                    <div class="nutricion">
                        <a href="" title="Pedir Hora">Dr. CC CC</a>
                        <a href="" title="Pedir Hora">Dra. DD DD</a>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <h4 class="verDoc">Pediatría
                        <span class="fas fa-sort-down" title="doctores"></span>
                    </h4>
                    <div class="pediatria">
                        <a href="" title="Pedir Hora">Dr. EE EE</a>
                        <a href="" title="Pedir Hora">Dra. FF FF</a>
                    </div>
                </td>
                <td>
                    <h4 class="verDoc">Radiología
                        <span class="fas fa-sort-down" title="doctores"></span>
                    </h4>
                    <div class="radiologia">
                        <a href="" title="Pedir Hora">Dr. GG GG</a>
                        <a href="" title="Pedir Hora">Dra. HH HH</a>
                    </div>
                </td>
            </tr>
            <tfoot>
                <tr>
                    <td colspan="2">

                        Director: Dr. II II<br>
                        Administrador: JJ JJ<br>
                        Secretaria: KK KK<br>

                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</main>