<main>
    <div class="hoy">
        <h1>Mis Pacientes Hoy</h1>
        <h6>Un listados de los pacientes que pidieron hora con ese Médico el dia de hoy</h6>
        <a href="javascript:history.back()"> Volver Atrás</a>
    </div>
</main>