<main>
    <div class="pago">
        <h1>Pagar Afiliado</h1>
        <h6>Pagar su cuenta en el Centro Medico, con opciones Bancos en Chile
            y Paypal por si estas fuera de Chile
        </h6>
        <a href="javascript:history.back()"> Volver Atrás</a>
    </div>
</main>