<main data-aos="zoom-in-down" data-aos-duration="2000">
    <div class="main">
        <div class="pasos">
            <div class="paso1"><a href="">1</a></div>
            <div class="raya"> </div>
            <div class="paso"><a href="">2</a></div>
            <div class="raya"> </div>
            <div class="paso"><a href="">3</a></div>
        </div>
        <div class="afiliado">
            <form action="" method="">
                <input type="radio" name="si" id="si">
                <label for="siAfil">Si Soy Afiliado</label><br>
                <input type="radio" name="no" id="no">
                <label for="noAfil">No Soy Afiliado</label>
            </form>
        </div>

    </div>
</main>