<main>
    <div class="pedirHora">
        <h1>Pedir Hora Afiliado</h1>
        <h6>El usuario afiliado, tendrá beneficios de prioridad</h6>
        <a href="javascript:history.back()"> Volver Atrás</a>
    </div>
</main>