<main>
    <div class="horasPendientes">
        <h1>Horas Pendientes</h1>
        <h6>Aqui el usuario afiliado podrá checkear, en un calendario, sus horas médicas pendientes,
            asi como tambien podrá activar las notificaciones, para que se le recuerde de ellas,
            via email o telefonica</h6>
        <a href="javascript:history.back()"> Volver Atrás</a>
    </div>
</main>