<main>
    <div class="productividadMedico">
        <h1>Productividad del Médico</h1>
        <h6>Listado con cantidades y posibilidades de exportación, para saber cantidad menssual de pacientes</h6>
        <a href="javascript:history.back()"> Volver Atrás</a>
    </div>
</main>