<main data-aos="zoom-in-down" data-aos-duration="2000">
    <div class="main">
        <div class="card">
            <i id="usuario" class="fas fa-user-md fa-5x icono"></i>
            <div class="medico" id="medico">
                <!--iniciar sesion-->
                <form action="medico" method="get">
                    <label for="userMedico">Usuario</label>
                    <input type="text" name="userMedico" id="userMedico" placeholder="usuario">
                    <label for="passwordMedico">Contraseña</label>
                    <input type="password" name="passwordMedico" id="passwordMedico" placeholder="*****">
                    <p><button id="btnMedico">Iniciar Sesión</button></p>
                </form>
            </div>
</main>