<main data-aos="zoom-in-down" data-aos-duration="2000">
    <div class="main">
        <div  class="card">
            <i id="usuario" class="fas fa-user-cog fa-5x icono"></i>
            <div class="admin" id="admin">
                <!--iniciar sesion-->
                <form action="" method="">
                    <label for="userAdmin">Usuario</label>
                    <input type="text" name="userAdmin" id="userAdmin" placeholder="usuario">
                    <label for="passwordAdmin">Contraseña</label>
                    <input type="password" name="passwordAdmin" id="passwordAdmin" placeholder="****">
                    <p><button id="btnAdmin" type="submit">Iniciar Sesión</button></p>
                </form>
            </div>
        </div>
    </div>
</main>