<main data-aos="zoom-in-down" data-aos-duration="2000">
    <div class="main">
        <div class="card">
            <p><button id="btnlogin">Iniciar Sesi칩n</button></p>
            <p><button id="btnAfil">Afiliarse</button></p>
            <i id="usuario" class="fas fa-user-circle fa-5x icono"></i>
            <div class="frente" id="frente">
                <!--iniciar sesion-->
                <form action="" method="">
                    <label for="userPaciente">Usuario</label>
                    <input type="text" name="userPaciente" id="userPaciente" placeholder="usuario">
                    <label for="passwordPaciente">Contrase침a</label>
                    <input type="password" name="passwordPaciente" id="passwordPaciente" placeholder="****">
                    <p><button id="btnPaciente" type="submit">Iniciar Sesi칩n</button></p>
                </form>
            </div>
            <div class="atras" id="atras">
                <!--afiliarse-->
                <form action="" method="">
                    <label for="usuarioAfil">Usuario</label>
                    <input type="text" name="userAfil" id="usuarioAfil" placeholder="Graciela Archila">
                    <label for="passwordAfil">Contrase침a</label>
                    <input type="password" name="passwordAfil" id="passwordAfil" placeholder="26.353.169-8">
                    <label for="telefonoAfil">Telefono</label>
                    <input type="tel" name="telefonoAfil" id="telefonoAfil" placeholder="+56 950330658">
                    <label for="emailAfil">Email</label>
                    <input type="email" name="emailAfil" id="emailAfil" placeholder="archilagraciela@gmail.cm">
                    <p><button id="btnPacienteAfil" type="submit">Afiliarse</button></p>
                </form>
            </div>
        </div>
    </div>
</main>