<main>
    <div class="afiliados">
        <h1>Afiliados del Centro Médico</h1>
        <h6>Un listado con total del número de personas afiliadas al servicio médico que se ofrece</h6>
        <a href="javascript:history.back()"> Volver Atrás</a>
    </div>
</main>